{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page  #}
{% block title %}Accueil{% endblock %}

{# Remplissage du body de la page  #}
{% block body %}

    {# Grile bootstrap #}
    <div class="container-fluid">
        {# Titre h1 de la page #}
        <div class="row">

            <div class="col-12">
                <h1 class="text-center my-5">{{ site_name }}</h1>
            </div>

        </div>



    {# Contenu lorem #}
    <div class="row">

        <div class="col-12 col-md-10 mx-auto">

            <h2 class="text-center my-4">Lorem ipsum dolor sit.</h2>

            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa doloremque inventore natus nulla possimus sint. Alias aliquid animi beatae consequatur corporis dignissimos distinctio dolore dolorem doloremque dolorum earum excepturi exercitationem fuga fugiat ipsum laudantium minima obcaecati odio officiis quam ratione saepe similique suscipit totam, voluptate. Dolor iure obcaecati placeat.</p>

        </div>
    </div>
    {# Affichage de l'image fixe en bandeau #}
        <div class="row my-5 batman-cover"></div>

        <div class="col-12 col-md-10 mx-auto">

            <h2 class="text-center my-4">Lorem ipsum dolor sit.</h2>

            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa doloremque inventore natus nulla possimus sint. Alias aliquid animi beatae consequatur corporis dignissimos distinctio dolore dolorem doloremque dolorum earum excepturi exercitationem fuga fugiat ipsum laudantium minima obcaecati odio officiis quam ratione saepe similique suscipit totam, voluptate. Dolor iure obcaecati placeat.</p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias amet asperiores consequuntur culpa distinctio eligendi eum ex expedita fuga harum id inventore iure labore nisi officia quae, unde ut.</span><span>Adipisci atque commodi distinctio eaque fuga minima modi molestias perferendis, perspiciatis quae quaerat, quasi, quisquam reprehenderit rerum unde velit voluptatum! Adipisci deleniti esse expedita ipsa pariatur quaerat reprehenderit tempore vero?</span><span>Animi asperiores aspernatur culpa cum deserunt esse est et excepturi explicabo facere fugiat iste laborum maxime minima molestias nostrum numquam obcaecati reiciendis, sed sequi soluta tempora temporibus tenetur unde vero.</span><span>Accusantium adipisci blanditiis cum cupiditate deserunt doloribus dolorum earum, expedita fuga magni necessitatibus nostrum nulla possimus provident sapiente sunt totam velit voluptatem! Dolore facilis maxime necessitatibus nihil possimus provident quos?</span><span>Adipisci delectus est incidunt libero sint sit. Ex id in iste unde? Aliquam beatae consequuntur dolore incidunt magni omnis praesentium sit suscipit! Consectetur cupiditate delectus deleniti iusto molestiae perspiciatis ullam?</span><span>Accusantium architecto aspernatur blanditiis debitis esse et, excepturi impedit laboriosam, molestiae molestias neque nihil, odit perspiciatis praesentium quaerat quod repudiandae sint temporibus. At esse ex, exercitationem minima repellendus temporibus voluptatum!</span><span>Aspernatur, cumque ducimus harum magnam maiores minima nostrum odit repudiandae tempora ut? Aliquid architecto dicta dignissimos dolore dolorum enim eum fugit impedit iste quod rem sequi soluta tempore, vero voluptate!</span><span>Asperiores cumque distinctio ducimus fuga officia officiis quod sint temporibus. Itaque minima, rem? Dolorem, ea saepe. Dignissimos ea itaque minus. Accusantium cupiditate eum ipsa optio quod rem repudiandae sapiente voluptatibus.</span><span>Animi dicta dolores doloribus eaque eos est exercitationem impedit quo repellendus similique sit sunt, tempore vitae voluptas voluptatum? Alias commodi et illum iste magnam molestiae nesciunt quasi quidem quis ullam!</span><span>Architecto assumenda at, cumque debitis dolorem eos est expedita fuga impedit molestias nesciunt sapiente tempore vel! A culpa dignissimos error, eum hic illum minus obcaecati, porro saepe veniam voluptas voluptatibus?</span><span>Alias animi dicta doloremque eius facilis mollitia non placeat sequi! Ad asperiores blanditiis consequuntur doloribus eaque, eius incidunt inventore magnam modi, perspiciatis quae quos ratione rerum sit voluptatibus. Magnam, nemo?</span><span>Alias consequatur dolor ducimus magni minima nesciunt repudiandae sequi sint! Adipisci autem deserunt eligendi nisi quibusdam quisquam quos, repellat! Animi aspernatur distinctio dolorem doloribus molestiae mollitia necessitatibus quos repudiandae! Dolorum!</span></p>

        </div>


</div>
{% endblock %}