/*Police d'ecritures*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #151749;
    color: #efebeb;
}

/* Menu principal */
.main-navbar .main-navbar-logo{
    width: 55px;""
    margin-right: 16px;
}

/* Page d'acceuil */
.batman-cover{
    height: 400px;
    background-image: url("../images/télé.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* Menus paginations */
.pagination .page-item .page-link{
    background-color: black;
    color: #f9f5f5;
}

.pagination .page-item.disabled{
    cursor: not-allowed;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: grey;
}

.pagination .page-item a.page-link:hover{
    background-color: #070707;
}

/* Affichage des images de profil dans les commentaires*/
.comment-profil-photo{
    width: 100px;
    height: 100px;
}